table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  /* distance btw columns */
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
}


table {
  width: 100%;
}
.example-container {
  /*should be correlated to map */
  height: 535px;
  max-width: 100%;
  overflow: auto;
}

.example-spacer {
  flex: 0 0 auto;
}
