<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon style='font-size:100%;'>filter_list</mat-icon>
  </button>
  <span style='font-size:80%;'>Geo chosen</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSourcebb" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No</th>
      <td mat-cell *matCellDef="let element"> {{element.no}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Geo Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      <!--      <td mat-cell *matCellDef="let element"> {{message}} </td>-->

    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="other">
      <th mat-header-cell *matHeaderCellDef> Other</th>
      <td mat-cell *matCellDef="let element">
        <a (click)="openDialog('Delete',element.name)">Delete</a>
      </td>
      <td mat-cell *matCellDef="let element"> {{element.other}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <router-outlet></router-outlet>

</div>
