<div fxLayout="row" fxLayoutAlignn="space-between center" fxLayoutGap="20px">
  <mat-card fxFlex="25">
  <div *ngIf="loadContent">
    <form [formGroup]="formGroup" (ngSubmit)="save()" (reset)="resetForm()">
      <br/>

      <ng-multiselect-dropdown #multiSelect
                               [placeholder]="'Add Regions'"
                               [data]="regionDropdownList"
                               [formControl]="f.regions"
                               [(ngModel)]="regionSelectedItems"
                               [settings]="regionDropdownSettings"
                               (onDeSelect)="onDeSelect($event)"
                               (onSelect)="onRegionSelect($event)"
                               (onSelectAll)="onSelectAllRegion($event)"
      >

      </ng-multiselect-dropdown>

      <br/>
      <ng-multiselect-dropdown #multiSelect
                               [placeholder]="'Add Province'"
                               [data]="provinceDropdownList"
                               [formControl]="f.provinces"
                               [(ngModel)]="provinceSelectedItems"
                               [settings]="provinceDropdownSettings"
                               (onSelect)="onProvinceSelect($event)"
                               (onSelectAll)="onSelectAllProvines($event)"
      >

      </ng-multiselect-dropdown>
      <br/>
      <ng-multiselect-dropdown #multiSelect
                               [placeholder]="'Add Comune'"
                               [data]="comuneDropdownList"
                               [formControl]="f.comunes"
                               [(ngModel)]="comuneSelectedItems"
                               [settings]="comuneDropdownSettings"
                               (onSelect)="onComuneSelect($event)"
                               (onSelectAll)="onSelectAllComunes($event)"
      >

      </ng-multiselect-dropdown>
      <br/>

      <div class="add-bottom-padding">
        <mat-form-field>
          <mat-select formControlName="field" placeholder="Field">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let field of fields">
              <mat-option value="{{field.value}}">{{field.value}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="add-bottom-padding">
        <mat-form-field>
          <mat-select formControlName="market" placeholder="Market">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let market of markets">
              <mat-option value="{{market.value}}">{{market.value}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <input class="btn btn-primary" type="submit" value="Submit">
      <input class="btn btn-primary" type="reset" value="Reset">
      <input class="btn btn-primary" type="button" value="Toggle Select All" (click)="multiSelect.toggleSelectAll()">
    </form>
  </div>
  </mat-card>
  <mat-card fxFlex="75">
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="province">
          <mat-header-cell *matHeaderCellDef mat-sort-header> province </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.province}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="comune">
          <mat-header-cell *matHeaderCellDef> comune </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.comune}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cap">
          <mat-header-cell *matHeaderCellDef> cap </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.cap}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tel">
          <mat-header-cell *matHeaderCellDef> tel </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.tel}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fieldCode">
          <mat-header-cell *matHeaderCellDef> fieldCode </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fieldCode}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <!--<button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>-->
            <!--<button mat-icon-button color="warn" (click)="onDelete(row.$key)"><mat-icon>delete_outline</mat-icon></button>-->
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <mat-paginator #paginator
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>

  </mat-card>
</div>

