<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Geo localization</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon"
            matTooltip="Region layer"  style='font-size:100%;'
            aria-label="Example icon-button with menu icon"
            aria-hidden="false">
      <mat-icon>layers</mat-icon>
    </button>

    <button mat-icon-button class="example-icon"
            matTooltip="Province layer"  style='font-size:100%;'
            aria-label="Example icon-button with menu icon"
            aria-hidden="false">
      <mat-icon>location_on</mat-icon>
    </button>

    <button mat-icon-button class="example-icon"
            matTooltip="city layer"  style='font-size:100%;'
            aria-label="Example icon-button with menu icon"
            aria-hidden="false">
      <mat-icon>pin_drop</mat-icon>
    </button>
    <button mat-icon-button class="example-icon"
            matTooltip="de select all"  style='font-size:100%;'
            aria-label="Example icon-button with menu icon"
            aria-hidden="false">
      <mat-icon>highlight_off</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

