<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <mat-card fxFlex="50">
    <ev-info-chart1></ev-info-chart1>
  </mat-card>

  <mat-card fxFlex="50">
   <ev-info-chart></ev-info-chart>
  </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <mat-card fxFlex="50">
    <ev-all-summary></ev-all-summary>
  </mat-card>

  <mat-card fxFlex="50">
    <!-- add something to else-->
    <ev-all-summary></ev-all-summary>
  </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <mat-card fxFlex="100">
    <div id="chart-column"></div>
  </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <mat-card fxFlex="50">
    <h3>EV info NL</h3>

  </mat-card>

  <mat-card fxFlex="50">
    <!--    <h1>{{title}}</h1>-->
    <h3>EV info IT</h3>
    <!--    <h3>v{{currentApplicationVersion}}</h3> // this is version -->
<!--    <canvas id="canvasChartForBlaIT">{{chart2}}</canvas>-->
  </mat-card>

</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <mat-card fxFlex="50">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                      style="width: 100%; display: block;">
    </highcharts-chart>
  </mat-card>
  <mat-card fxFlex="50">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                      style="width: 100%; display: block;">
    </highcharts-chart>
  </mat-card>
</div>

