<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <mat-card fxFlex="100">
    <overview-nav></overview-nav>
  </mat-card>
</div>
<br>

<mat-divider></mat-divider>

<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <mat-card fxFlex="50">
    <ev-info-chart1></ev-info-chart1>
  </mat-card>

  <mat-card fxFlex="50">
   <ev-info-chart></ev-info-chart>
  </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <mat-card fxFlex="40">
    <ev-all-summary></ev-all-summary>
  </mat-card>

  <mat-card fxFlex="60">
    <!-- add something to else-->
    <companies-no-ev></companies-no-ev>
  </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <mat-card fxFlex="100">
    <ev-big-line-chart></ev-big-line-chart>
  </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <mat-card fxFlex="50">
    <h3>EV info NL</h3>
  </mat-card>

  <mat-card fxFlex="50">
    <h3>EV info IT</h3>
  </mat-card>
</div>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <mat-card fxFlex="50">
    <ev-all-summary></ev-all-summary>
  </mat-card>
  <mat-card fxFlex="50">
    <ev-all-summary></ev-all-summary>
  </mat-card>
</div>

