<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <mat-card fxFlex="100">
    <micro-mapper></micro-mapper>
  </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <mat-card fxFlex="20">
    <filter-bar></filter-bar>
  </mat-card>

  <mat-card fxFlex="80">
    <main-map></main-map>
  </mat-card>

</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <mat-card fxFlex="100">
    <!-- add something to else-->
    <salepoint-overview></salepoint-overview>
  </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>
